[submodule "WhoaGeometry/wasm/emsdk"]
	path = WhoaGeometry/wasm/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "vcpkg"]
	path = WhoaGeometry/wasm/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
